openapi: 3.0.3
info:
  version: 1.0.0
  title: 游띫[AOS 2023] Plataformas y Aeronaves 游띪
  description: >
    ## **[AOS 2023]** 九걾잺 API REST para la gesti칩n de Plataformas y Aeronaves.
  license:
    name: MIT
    url: 'https://opensource.org/licenses/MIT'
  contact:
    name: M치ster Universitario en Ingenier칤a Web
    url: 'https://miw.etsisi.upm.es/'
    email: miw.etsisi@upm.es

servers:
  - url: http://127.0.0.1:80/api/v1
tags:
  - name: '游띫 Plataforma'
    description: Plataforma

paths:
  /plataforma:
    get:
      summary: Obtiene todas las plataformas
      description: |
        La siguiente tabla define los c칩digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci칩n | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Listado de plataformas             |
        | **404**     | NOT FOUND   | No hay ninguna plataforma          |
      operationId: plataforma_cget
      tags: [ '游띫 Plataforma' ]
      responses:
        '200':
          description: Lista de plataformas disponibles
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                type: object
                properties:
                  plataformas:
                    description: array de plataformas
                    type: array
                    items:
                      $ref: '#/components/schemas/Plataforma'
              examples:
                plataformas-example:
                  $ref: '#/components/examples/plataformas-example'
        '404':
          $ref: '#/components/responses/Response_404'
    options:
      summary: Proporciona la lista de los m칠todos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de m칠todos HTTP soportados (separados por comas).
      operationId: plataforma_coptions
      tags: [ '游띫 Plataforma' ]
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta est치 vac칤o&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'
    post:
      summary: A침ade una nueva plataforma
      description: |
        La siguiente tabla define los c칩digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci칩n          | Motivo                                    |
        | ------------| ---------------------| ------------------------------------------|
        | **201**     | CREATED              | La plataforma ha sido creada              |
        | **400**     | BAD REQUEST          | El identificador 칰nico ya existe          |
        | **422**     | UNPROCESSABLE ENTITY | Falta alguno de los atributos obligatorios|
        |             |                      | o el valor no est치 permitido              |
      tags: [ '游띫 Plataforma' ]
      operationId: plataforma_post
      requestBody:
        $ref: '#/components/requestBodies/plataformaRB'
      responses:
        '201':
          description: Nueva Plataforma creada
          headers:
            Location:
              $ref: '#/components/headers/Location'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plataforma'
        '400':
          $ref: '#/components/responses/Response_400'
        '422':
          $ref: '#/components/responses/Response_422'

  /plataforma/{plataformaId}:
    parameters:
      - $ref: '#/components/parameters/plataformaId'
    options:
      summary: Proporciona la lista de los m칠todos HTTP soportados por esta ruta.
      description: Devuelve una cabecera `Allow` con la lista de m칠todos HTTP soportados (separados por comas).
      operationId: plataforma_options
      tags: [ '游띫 Plataforma' ]
      responses:
        '204':
          description: 'cabecera `Allow` &lt;El cuerpo de la respuesta est치 vac칤o&gt;'
          headers:
            Allow:
              $ref: '#/components/headers/Allow'
    get:
      summary: Obtiene una plataforma identificada por `plataformaId`
      description: |
        La siguiente tabla define los c칩digos de estado que puede devolver este endpoint
        
        | Status Code | Descripci칩n | Motivo                             |
        | ------------| ------------| -----------------------------------|
        | **200**     | OK          | Si la plataforma existe            |
        | **404**     | NOT FOUND   | Si no existe la plataforma         |
      operationId: plataforma_get
      tags: [ '游띫 Plataforma' ]
      responses:
        '200':
          description: Plataforma
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plataforma'
        '404':
          $ref: '#/components/responses/Response_404'
    delete:
      summary: Elimina la plataforma identificada por `plataformaId`
      description: |
        La siguiente tabla define los c칩digos de estado que puede devolver este endpoint
        
        | Status Code      | Descripci칩n | Motivo                                    |
        | ---------------- | ------------| ------------------------------------------|
        | **204**          | NO CONTENT  | La plataforma exist칤a y ha sido eliminada |
        | **404**          | NOT FOUND   | Si la plataforma no existe                |
      operationId: plataforma_delete
      tags: [ '游띫 Plataforma' ]
      responses:
        '204':
          description: Plataforma eliminada &lt;Cuerpo de la respuesta vac칤o&gt;
        '404':
          $ref: '#/components/responses/Response_404'
    put:
      tags: [ '游띫 Plataforma' ]
      summary: Modifica la plataforma identificada por `plataformaId`.
      description:  |
        La siguiente tabla define los c칩digos de estado que puede devolver este endpoint

        | Status Code | Descripci칩n         | Motivo                                        |
        | ------------| --------------------| ----------------------------------------------|
        | **209**     | CONTENT RETURNED    | La plataforma exist칤a y ha sido actualizada   |
        | **404**     | NOT FOUND           | Si la plataforma no existe                    |
        | **412**     | PRECONDITION FAILED | Si el ETag proporcionado no est치 actualizado  |
        | **422**     | UNPROCESSABLE ENTITY| Valor no permitido en alguno de los attributos|
      operationId: plataforma_put
      parameters:
        # https://www.rfc-editor.org/rfc/rfc7232.html#page-13
        - $ref: '#/components/parameters/ifMatchParam'
      requestBody:
        $ref: '#/components/requestBodies/plataformaUpdate'
      responses:
        '209':
          description: '`CONTENT RETURNED`: la Plataforma ha sido actualizada'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plataforma'
        '404':
          $ref: '#/components/responses/Response_404'
        '412':
          $ref: '#/components/responses/Response_412'
        '422':
          $ref: '#/components/responses/Response_422'

components:
  schemas:
    Plataforma:
      title: Plataforma de estacionamiento de Aeronaves
      description: >
        츼rea definida, en un aer칩dromo terrestre, destinada a dar cabida a
        las aeronaves para los fines de embarque o desembarque del pasaje,
        correo o carga, reabastecimiento de combustible, estacionamiento o
        mantenimiento incluyendo calles de rodaje en plataforma, calles de
        acceso al puesto de estacionamiento y v칤as de servicio.<br>
        Reglamento de la Circulaci칩n A칠rea Operativa (BOE-A-1994-18714)
      type: object
      properties:
        plataforma:
          type: object
          required: [ id, tipo_envergadura ]
          properties:
            id:
              $ref: '#/components/schemas/Id_Plataforma'
            tipo_envergadura:
              $ref: '#/components/schemas/Envergadura_Aeronave'
            estado:
              $ref: '#/components/schemas/Estados_Plataformas'
            # A침adir resto de propiedades
      example: { "plataforma": { "id": "P01-001-A", "tipo_envergadura": "C", "estado": "Reservada"}}

    Aeronave:
      description: >
        Toda m치quina que puede desplazarse en la atm칩sfera por reacciones del aire que
        no sean las reacciones del mismo contra la superficie de la tierra.<br>
        OACI - Organizaci칩n de Aviaci칩n Civil Internacional
      type: object
      properties:
        aeronave:
          type: object
          required: [ matr칤cula, envergadura ]
          properties:
            matr칤cula:
              description: Matr칤cula de la aeronave
              type: string
              pattern: "^[A-Z]{1,2}-[A-Z]{3}$"
              example: "EC-JGR"
            envergadura:
              $ref: '#/components/schemas/Envergadura_Aeronave'
      example: { "aeronave": { "matr칤cula": "EC-JGR", "envergadura": "B" }}
      # https://v6.fakerjs.dev/guide/
      x-faker: helpers.regexpStyleStringParse('P[10-99]-[100-999]-X')

    Id_Plataforma:
      title: Identificador 칰nico de la plataforma
      type: string
      pattern: "^[A-Z]{1}[0-9]{2}-[0-9]{3}-[A-Z]$"
      example: "P01-001-A"
      # https://v6.fakerjs.dev/guide/
      x-faker: helpers.regexpStyleStringParse('P[10-99]-[100-999]-X')

    Envergadura_Aeronave:
      # https://es.wikipedia.org/wiki/C%C3%B3digo_de_referencia_aeroportuario
      description: |
        Clasificaci칩n las aeronaves por su envergadura:
        * `A`: hasta 15 m - Cessna 172, Diamond DA40
        * `B`: de 15 m a 24 m - Saab 340
        * `C`: de 24 m a 36 m - McDonnell Douglas MD-81, Airbus A318, Airbus A319, Airbus A320, Airbus A321, Boeing 737
        * `D`: de 36 m a 52 m - McDonnell Douglas MD-11, Airbus A300, Boeing 757, Boeing 767
        * `E`: de 52 m a 65 m - Airbus A330, Airbus A340, Boeing 747, Boeing 777, Boeing 787, Airbus A350
        * `F`: de 65 m a 80 m - Airbus A380, Boeing 747-8i.
      type: string
      enum: [ A, B, C, D, E, F ]
      # https://v6.fakerjs.dev/guide/
      x-faker: helpers.arrayElement([ 'A', 'B', 'C', 'D', 'E', 'F' ])

    Estados_Plataformas:
      description: |
        Estado de la Plataforma:
        * `Libre`: Plataforma disponible
        * `Ocupada`: Plataforma ocupada
        * `Reservada`: Plataforma reservada para pr칩xima utilizaci칩n
        * `Inhabilitada`: Plataforma inhabilitada para su uso
      type: string
      default: "Inhabilitada"
      enum: [ "Libre", "Ocupada", "Reservada", "Inhabilitada" ]
      # https://v6.fakerjs.dev/guide/
      x-faker: helpers.arrayElement([ 'Libre', 'Ocupada', 'Reservada', 'Inhabilitada' ])

    HTTP_Problem:
      type: object
      externalDocs:
        url: https://tools.ietf.org/html/rfc7807
      description: |
        Problem Details for HTTP APIs
        [https://tools.ietf.org/html/rfc7807](https://tools.ietf.org/html/rfc7807)
      properties:
        type:
          type: string
          format: uri
          description: A URI reference [RFC3986] that identifies the problem type
        title:
          type: string
          description: short human-readable summary of the problem type
        status:
          type: number
          description: HTTP status code
        detail:
          type: string
          description: Human-readable explanation specific to this occurrence of the problem
        instance:
          type: string
          format: uri
          description: >
            A URI reference that identifies the specific occurrence of the problem.
            It may or may not yield further information if dereferenced.

  headers:
    ETag:
      description: "Entity Tag (identificador 칰nico proporcionado para validaci칩n de cach칠)"
      schema:
        type: string
        pattern: "[0-9a-f]*"
        example:
          33a64df551425fcc
    Allow:
      description: Lista de m칠todos HTTP soportados
      schema:
        type: string
      example: GET, DELETE, PUT, OPTIONS
    Location:
      description: '`URI` del nuevo recurso'
      schema:
        type: string
        format: uri
        x-faker: internet.url
        example:
          https://example.com/api/v1/plataformas/1936

  requestBodies:
    plataformaRB:
      description: Informaci칩n de la nueva Plataforma
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [ id, tipo_envergadura ]
            properties:
              id:
                $ref: '#/components/schemas/Id_Plataforma'
              tipo_envergadura:
                $ref: '#/components/schemas/Envergadura_Aeronave'
              estado:
                $ref: '#/components/schemas/Estados_Plataformas'
    plataformaUpdate:
      description: Atributos de la Plataforma
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              tipo_envergadura:
                $ref: '#/components/schemas/Envergadura_Aeronave'
              estado:
                $ref: '#/components/schemas/Estados_Plataformas'

  responses:
    Response_400:
      description: '`BAD REQUEST` El identificador 칰nico ya existe.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-400:
              $ref: '#/components/examples/response-http-400'
    Response_404:
      description: '`NOT FOUND`: recurso no disponible'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-404:
              $ref: '#/components/examples/response-http-404'
    Response_412:
      description: '`PRECONDITION FAILED`: El ETag proporcionado no est치 actualizado'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-412:
              $ref: '#/components/examples/response-http-412'
    Response_422:
      description: '`UNPROCESSABLE ENTITY` Falta alguno de los atributos obligatorios o son incorrectos.'
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/HTTP_Problem'
          examples:
            response-http-422:
              $ref: '#/components/examples/response-http-422'

  parameters:
    plataformaId:
      name: plataformaId
      in: path
      description: Identificador 칰nico de la Plataforma
      required: true
      schema:
        $ref: '#/components/schemas/Id_Plataforma'
    ifMatchParam:
      name: If-Match
      in: header
      description: ETag del recurso que se desea modificar
      required: true
      schema:
        type: string
        pattern: "[0-9a-f]*"

  examples:
    plataformas-example:
      value:
        plataformas:
          - { "plataforma": { "id": "P01-001-A", "tipo_envergadura": "C", "estado": "Reservada"} }
          - { "plataforma": { "id": "P02-039-C", "tipo_envergadura": "E", "estado": "Libre"} }

    response-http-400:
      value:
        type: https://httpstatuses.com/400
        title: UNPROCESSABLE ENTITY
        status: 400
        detail: El identificador 칰nico ya existe
        instance: about:blank
    response-http-404:
      value:
        type: https://httpstatuses.com/404
        title: NOT FOUND
        status: 404
        detail: El recurso solicitado no est치 disponible.
        instance: about:blank
    response-http-412:
      value:
        type: https://httpstatuses.com/412
        title: PRECONDITION FAILED
        status: 412
        detail: El ETag proporcionado no est치 actualizado
        instance: about:blank
    response-http-422:
      value:
        type: https://httpstatuses.com/422
        title: UNPROCESSABLE ENTITY
        status: 422
        detail: Falta alguno de los atributos obligatorios o contiene un valor no admitido
        instance: about:blank